/* ブラウザで設定されているスタイルのリセット・共通設定 */
/* 消さないでください */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
p,
ul,
li,
form,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}
/* スタイルのリセット終了 */
.Dashboard {
  display: flex;
  height: 100vh;
}

/* ここからコード開始*/

body {
  display: flex;
}

.sidebar {
  width: 20%;
  height: 810px;
  background-image: url(34093793_m\ 1.png);
  border-right: 10px solid #ffff00;
  box-sizing: border-box;
}

.logo {
  width: 100%;
  margin: 10px 0px;
}

.link {
  display: flex;
  flex-direction: column;
}

.link a {
  margin: 25px 0px;
  padding: 20px 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 30px;
  font-weight: bold;
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: italic;
  text-decoration: none;
  color: black;
}

.link :hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.sns {
  display: inline-block;
  margin: 25px 0px;
  padding: 20px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
}

.sns a {
  font-size: 30px;
  text-decoration: none;
  color: black;
  margin: 0px 20px;
}

.sns :hover {
  color: #ffff00;
}

.main {
  background-image: url(Gemini_Generated_Image_bmdogjbmdogjbmdo.png);
  background-size: cover;
  width: 80%;
}

.form {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 70px 70px;
  padding: 50px 20px;
  text-align: center;
}

.form p {
  font-size: 20px;
  font-family: "Zen Old Mincho", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 1px 1px grey;
  display: block;
}

input {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  font-family: "Zen Old Mincho", serif;
  font-weight: 400;
  font-style: normal;
  border: 1px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  font-family: "Zen Old Mincho", serif;
  font-weight: 400;
  font-style: normal;
  border: 1px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.send {
  display: block;
  margin: 0px auto 30px auto;
}

.send:hover {
  background-color: rgba(255, 255, 0, 0.5);
  color: black;
}
